/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.font {
  font-family: "Martel", serif;
}
.h1 {
  font-size: 3.52rem;
  font-style: bold;
}
.h2 {
  font-size: 2.56rem;
  font-style: normal;
}
.h3 {
  font-size: 2.24rem;
  font-style: bold;
}
.h4 {
  font-size: 1.92rem;
  font-style: normal;
}
.h5 {
  font-size: 1.76rem;
  font-style: bold;
}
.comfortPadding {
  padding: 0.5rem 0;
}
.endOfSection {
  padding: 2rem;
}
.flex {
  display: flex;
}
.container {
  font-family: "Martel", serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.container header {
  background-color: #36827E;
}
.container header h1 {
  padding: 0.5rem 0;
  font-size: 1.44rem;
  color: #F1F9F9;
}
.container .welcome {
  background-color: #F1F9F9;
  padding-bottom: 1rem;
  font-size: 1.44rem;
}
.container .welcome h1 {
  font-size: 3.52rem;
  font-style: bold;
  color: #2A4565;
  padding: 4rem;
}
.container .welcome .headline {
  color: #2A4565;
  margin: 0 2rem 2rem 2rem;
}
.container .welcome p:last-child {
  font-size: 1rem;
}
.container .welcome .button {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 2.5rem;
  border-radius: 10rem;
  margin: 0 auto;
  color: #fff;
  background-color: #FDBA77;
  vertical-align: middle;
  margin-bottom: 0.5rem;
}
@media (min-width: 1025px) {
  .container .welcome .button {
    width: 20%;
  }
}
.container .search {
  font-size: 1.44rem;
  padding: 1.5rem;
  background-color: #36827E;
  color: #E6EDF4;
}
.container .search textarea {
  width: 85%;
  height: 2.5rem;
  border-radius: 10rem;
  margin: 0.5rem;
}
@media (min-width: 1025px) {
  .container .search textarea {
    width: 20%;
  }
}
.container .search p:last-child {
  font-size: 1rem;
  margin-left: 40%;
}
.container .creatorStudio {
  background-image: url("../images/LG-Creator-Studio-Icon.png");
  background-color: #F1F9F9;
  background-position: center;
  background-repeat: no-repeat;
  color: #2A4565;
  padding: 6rem 2rem;
  font-size: 1.44rem;
}
.container .creatorStudio h1 {
  font-size: 3.52rem;
  font-style: bold;
  margin: 1rem 0 1rem 0;
}
.container .draft {
  background-image: url("../images/LG-Draft-Article-Icon.png");
  background-color: #275E5B;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  color: #fff;
  font-size: 1.44rem;
}
.container .draft h1 {
  font-size: 3.52rem;
  font-style: bold;
  margin: 2rem 0 1rem 0;
}
.container .draft p {
  padding: 0.5rem 0;
}
.container .macroSearch {
  background-color: #F1F9F9;
}
.container .macroSearch .criteria {
  display: flex;
  font-size: 1.04rem;
  color: #2A4565;
  justify-content: space-around;
  padding: 1rem;
}
.container .macroSearch .criteria h1 {
  font-size: 1.92rem;
  font-style: normal;
  padding: 1rem;
}
.container .macroSearch .criteria .active {
  background-color: #FDBA77;
  border-radius: 20px;
  color: #fff;
}
.container .macroSearch .topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}
@media (min-width: 1025px) {
  .container .macroSearch .topics {
    justify-content: center;
  }
}
.container .macroSearch .topics .searchBoxes {
  width: calc(50% - 1.2em);
  margin: 1rem 0 1rem 0;
}
.container .macroSearch .topics .searchBoxes p {
  font-size: 13px;
}
footer {
  background-color: #36827E;
  color: #F1F9F9;
  padding: 0.7rem 0 0.2rem 0;
  text-align: center;
}
footer h1 {
  font-size: 1.44rem;
}
footer p {
  padding: 0.4rem 0;
  font-size: 1.04rem;
}
footer #studioIcon {
  position: absolute;
  right: 88%;
}
@media (min-width: 1025px) {
  footer #studioIcon {
    right: 68%;
  }
}
footer #draftIcon {
  position: absolute;
  left: 88%;
}
@media (min-width: 1025px) {
  footer #draftIcon {
    left: 68%;
  }
}
header {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .company {
  width: 35%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 38px;
}
header .company img {
  width: 25%;
  margin: 1%;
}
header .company h1 {
  margin: 10% 0% 0% 0%;
  color: #2A4565;
}
header nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #2A4565;
  position: fixed;
  top: 0;
}
header nav a {
  font-size: 1.8rem;
  color: #F1F9F9;
  margin: 10px;
}
@media screen and (max-width: 1000px) {
  header {
    width: 100%;
  }
  header .company {
    margin-top: 60px;
  }
  header nav {
    width: 100%;
    justify-content: center;
  }
  header nav a {
    margin: 2%;
  }
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
  header .company {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  header .company img {
    width: 50%;
  }
  header nav {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
  }
}
.title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  color: #2A4565;
}
.title h2 {
  font-size: 3rem;
}
h1 {
  font-size: 3.52rem;
  font-style: bold;
}
a {
  text-decoration: none;
}
.what-is {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}
.what-is img {
  width: 250px;
}
.what-is .text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 1% 5%;
}
.what-is .text h3 {
  font-size: 2.24rem;
  font-style: bold;
  margin: 5%;
}
.what-is .text p {
  font-size: 1.44rem;
}
@media screen and (max-width: 1000px) {
  .what-is {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .what-is img {
    width: 250px;
  }
  .what-is .text {
    width: 250px;
  }
}
@media screen and (max-width: 500px) {
  .what-is img {
    margin: 5% auto;
  }
  .what-is .text {
    margin: 5% auto;
  }
}
.who-for {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}
.who-for img {
  width: 250px;
}
.who-for .text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 1% 5%;
}
.who-for .text h3 {
  font-size: 2.24rem;
  font-style: bold;
  margin: 5%;
}
.who-for .text p {
  font-size: 1.44rem;
}
@media screen and (max-width: 1000px) {
  .who-for {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .who-for img {
    width: 250px;
  }
  .who-for .text {
    width: 250px;
  }
}
@media screen and (max-width: 500px) {
  .who-for {
    flex-flow: column-reverse;
  }
  .who-for img {
    margin: 5% auto;
  }
  .who-for .text {
    margin: 5% auto;
  }
}
.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 2% auto;
}
.links .button {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.links .button a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #4989AE;
  color: #F1F9F9;
  border: 5px solid #36827E;
  padding: 10px;
  border-radius: 10px;
  margin: 2% auto;
}
.links .button a h2 {
  font-size: 3.3rem;
}
.links .button p {
  font-size: 1.44rem;
}
@media screen and (max-width: 1000px) {
  .links {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4.4rem;
}
a {
  text-decoration: none;
}
.dev {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: 2% auto;
}
@media screen and (max-width: 1000px) {
  .dev {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .dev {
    flex-flow: column;
    width: 90%;
  }
}
.dev .dev-team {
  border: 5px solid #36827E;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 5% auto;
  background-color: #4989AE;
  color: #F1F9F9;
}
@media screen and (max-width: 1000px) {
  .dev .dev-team {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .dev .dev-team {
    width: 75%;
  }
}
.dev .dev-team img {
  border-radius: 50%;
  margin: 3%;
}
.dev .dev-team h4 {
  font-size: 2.4rem;
  margin: 2%;
  text-align: center;
}
.dev .dev-team h5 {
  font-size: 2rem;
}
.dev .dev-team .social {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
}
.dev .dev-team .social img {
  width: 25px;
  border-radius: 0%;
  padding: 1%;
}
.contact {
  width: 70%;
  margin: auto;
}
.contact h4 {
  font-size: 2.4rem;
}
.contact p {
  font-size: 1.8rem;
}
@media screen and (max-width: 1000px) {
  .contact {
    width: 82.5%;
  }
}
@media screen and (max-width: 500px) {
  .contact {
    width: 70%;
  }
}
.container {
  font-family: "Martel", serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /************ Slideshow container *****************/
}
.container h1 {
  font-size: 2.56rem;
  font-style: normal;
}
.container p {
  font-size: 1.44rem;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .container p {
    margin: 0 8rem;
  }
}
@media (min-width: 1025px) {
  .container p {
    margin: 0 25rem;
  }
}
.container .intro {
  padding: 0 0.5rem;
}
.container .intro #leftIcon {
  width: 10%;
  height: auto;
  position: absolute;
  right: 88%;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .container .intro #leftIcon {
    width: 5%;
    right: 68%;
  }
}
@media (min-width: 1025px) {
  .container .intro #leftIcon {
    width: 3%;
    right: 60%;
  }
}
.container .intro #rightIcon {
  width: 10%;
  height: auto;
  position: absolute;
  left: 88%;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .container .intro #rightIcon {
    width: 5%;
    left: 68%;
  }
}
@media (min-width: 1025px) {
  .container .intro #rightIcon {
    width: 3%;
    left: 60%;
  }
}
.container .intro h1 {
  padding: 1rem 0;
  margin: 1rem 0;
}
.container .intro p {
  padding: 1rem;
}
.container .intro p:last-child {
  padding: 2rem;
}
.container .instructionSteps {
  padding: 0 0.5rem;
}
.container .instructionSteps p {
  padding: 1rem;
}
.container .instructionSteps #progressBar1 {
  width: 75%;
  margin: 2.5rem 0;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .container .instructionSteps #progressBar1 {
    width: 35%;
  }
}
@media (min-width: 1025px) {
  .container .instructionSteps #progressBar1 {
    width: 20%;
  }
}
.container .instructionSteps #afterCarousel {
  padding-top: 2rem;
}
@media (min-width: 1025px) {
  .container .instructionSteps #afterCarousel {
    padding-top: 4rem;
  }
}
.container .instructionSteps .button {
  padding: 0.5rem 0;
  display: flex;
  font-size: 1.44rem;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  height: 3rem;
  border-radius: 10rem;
  color: #2A4565;
  background-color: #F1F9F9;
  vertical-align: middle;
  margin: 4rem auto;
}
@media (min-width: 1025px) {
  .container .instructionSteps .button {
    width: 20%;
    margin: 4rem auto;
  }
}
.container #slider,
.container .wrap,
.container .slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 214px;
  overflow-x: hidden;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .container #slider,
  .container .wrap,
  .container .slide-content {
    width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  .container #slider,
  .container .wrap,
  .container .slide-content {
    width: 65%;
    margin: 0 auto;
    height: 40rem;
  }
}
.container .wrap {
  position: relative;
}
.container .slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .slide1 {
  background-image: url('../images/crochetBabyYoda01.png');
}
.container .slide2 {
  background-image: url('../images/crochetBabyYoda02.png');
}
.container .slide3 {
  background-image: url('../images/crochetBabyYoda03.png');
}
.container .arrow {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 0;
  height: 0;
}
.container #arrow-left {
  font-size: 1.76rem;
  font-style: bold;
  color: #FDBA77;
  left: 0;
  margin-left: 20px;
}
.container #arrow-right {
  font-size: 1.76rem;
  font-style: bold;
  color: #FDBA77;
  right: 0;
  margin-right: 20px;
}
