/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.font {
  font-family: "Martel", serif;
}
.h1 {
  font-size: 3.52rem;
  font-style: bold;
}
.h2 {
  font-size: 2.56rem;
  font-style: normal;
}
.h3 {
  font-size: 2.24rem;
  font-style: bold;
}
.h4 {
  font-size: 1.92rem;
  font-style: normal;
}
.h5 {
  font-size: 1.76rem;
  font-style: bold;
}
.comfortPadding {
  padding: 0.5rem 0;
}
.flex {
  display: flex;
}
.container {
  font-family: "Martel", serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.container header {
  background-color: #36827E;
}
.container header h1 {
  padding: 0.5rem 0;
  font-size: 1.44rem;
  color: #F1F9F9;
}
.container .welcome {
  background-color: #F1F9F9;
  padding-bottom: 0.8rem;
}
.container .welcome h1 {
  font-size: 2.24rem;
  font-style: bold;
  color: #2A4565;
  padding: 2rem;
}
.container .welcome .headline {
  color: #2A4565;
  margin: 0 2rem 2rem 2rem;
}
.container .welcome p:last-child {
  font-size: 0.7rem;
}
.container .welcome .button {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 1.4rem;
  border-radius: 10rem;
  margin: 0 auto;
  color: #fff;
  background-color: #FDBA77;
  vertical-align: middle;
  margin-bottom: 0.5rem;
}
.container .search {
  padding: 1rem;
  background-color: #36827E;
  color: #E6EDF4;
}
.container .search textarea {
  width: 85%;
  height: 1.6rem;
  border-radius: 10rem;
  margin: 0.5rem;
}
.container .search p:last-child {
  font-size: 0.7rem;
  margin-left: 40%;
}
.container .creatorStudio {
  background-image: url("../images/LG-Creator-Studio-Icon.png");
  background-color: #F1F9F9;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
}
.container .creatorStudio h1 {
  font-size: 2.56rem;
  font-style: normal;
  margin: 2rem 0 1rem 0;
}
.container .draft {
  background-image: url("../images/LG-Draft-Article-Icon.png");
  background-color: #275E5B;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
  color: #fff;
}
.container .draft h1 {
  font-size: 2.56rem;
  font-style: normal;
  margin: 2rem 0 1rem 0;
}
.container .draft p {
  padding: 0.5rem 0;
}
.container .macroSearch {
  background-color: #F1F9F9;
}
.container .macroSearch .criteria {
  display: flex;
  font-size: 1.04rem;
  color: #2A4565;
  justify-content: space-around;
  padding: 1rem;
}
.container .macroSearch .criteria h1 {
  width: 10rem;
  padding: 0.5rem;
}
.container .macroSearch .criteria .active {
  background-color: #FDBA77;
  border-radius: 20px;
  color: #fff;
}
.container .macroSearch .topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}
.container .macroSearch .topics .searchBoxes {
  width: calc(50% - 1.2em);
  margin: 0.5rem 0 0.5rem 0;
}
.container .macroSearch .topics .searchBoxes p {
  font-size: 13px;
}
.container footer {
  background-color: #36827E;
  color: #F1F9F9;
  padding: 0.7rem 0 0.2rem 0;
}
.container footer p {
  padding: 0.4rem 0;
  font-size: 1.04rem;
}
.container footer #studioIcon {
  position: absolute;
  right: 88%;
}
.container footer #draftIcon {
  position: absolute;
  left: 88%;
}
.container {
  font-family: "Martel", serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.container .intro,
.container .instructionSteps {
  padding: 0 0.5rem;
}
/************ Slideshow container *****************/
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 214px;
  overflow-x: hidden;
}
.wrap {
  position: relative;
}
.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide1 {
  background-image: url('../images/crochetBabyYoda01.png');
}
.slide2 {
  background-image: url('../images/crochetBabyYoda02.png');
}
.slide3 {
  background-image: url('../images/crochetBabyYoda03.png');
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}
#arrow-left {
  border-width: 30px 40px 30px 0;
  left: 0;
  margin-left: 30px;
  border-color: transparent white transparent transparent;
}
#arrow-right {
  border-width: 30px 0 30px 40px;
  right: 0;
  margin-right: 30px;
  border-color: transparent transparent transparent white;
}
