h1 {
    .h1();
}
a {
    text-decoration: none;
}
.what-is {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    img {
        width: 250px;
    }
    .text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 1% 5%;
        h3 {
            .h3();
            margin: 5%;
        }
        p{
            font-size: @p;
        }
    }
    @media screen and (max-width: 1000px) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
            width: 250px;
        }
        .text {
            width: 250px;
        }
    }
}
.who-for{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    img {
        width: 250px;
    }
    .text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 1% 5%;
        h3 {
            .h3();
            margin: 5%;
        }
        p{
            font-size: @p;
        }
    }
    @media screen and (max-width: 1000px) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
            width: 250px;
        }
        .text {
            width: 250px;
        }
    }
}
.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 2% auto;
    .button {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            background-color: #4989AE;
            color: @offWhite;
            border: 5px solid @darkGreen;
            padding: 10px;
            border-radius: 10px;
            margin: 2% auto;
            h2 {
                font-size: 3.3rem;
            }
        }
        p {
            font-size: @p;
        }
    }
    @media screen and (max-width: 1000px) {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}