.container {
    .font;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: @offWhite;

    h1 {
        .h4;
        .comfortPadding;
    }

    p {
        .comfortPadding;
    }

    header {
        background-color: @darkGreen;

            h1 {
            .comfortPadding;
            font-size: @p;
            color: @offWhite;
        }
    }//Header

    footer {
        background-color: @darkGreen;
        color: @offWhite;
        padding: .7rem 0 0.2rem 0;

        p {
            padding: 0.4rem 0;
            font-size: @babyFont;
        }

        #studioIcon {
            position: absolute;
            right: 88%;
        }

        #draftIcon {
            position: absolute;
            left: 88%;
                }
    }//footer
}//Container