html {
    font-size: 62.5%;
}
h1 {
    font-size: 4.4rem;
}
header {
    border: 1px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    .company {
        border: 1px solid green;
        width: 45%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        img {
            width: 25%;
            margin: 1%;
        }
    }
    nav {
        border: 1px solid blue;
        width: 45%;
        a {
            font-size: 1.8rem;
        }
    }
}
.title{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h3 {
        font-size: 2.8rem;
    }
}
.dev {
    border: 1px solid green;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    .dev-team {
        border: 1px solid red;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        width: 35%;
        img {
            border-radius: 50%;
        }
        h4{
            font-size: 2.4rem;
        }
        h5{
            font-size: 2rem;
        }
        .social {
            img {
                width: 25px;
            }
        }
    }
}