.container {
    .font;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .welcome {
        background-color: @offWhite;

        h1 {
            .h3;
            padding: 1rem;
        }

        p {
            // font-size: @p;
            padding: .5rem;
        }
    }
} //container


