.container {
    .font;
    width: 100%;
    margin: 0 auto;
    text-align: center;


    header {
        background-color: @darkGreen;

            h1 {
            .comfortPadding;
            font-size: @p;
            color: @offWhite;
        }
    }//header

    .welcome {
        background-color: @offWhite;
        padding-bottom: 1rem;
        font-size: @p;

        h1 {
            .h1;
            color: @darkBlue;
            padding: 4rem;
        }

        .headline {
            color: @darkBlue;
            margin: 0 2rem 2rem 2rem;
        }

        p:last-child {
            font-size: 1rem;
        }

        .button {
            .comfortPadding;
            .flex;
            align-items: center;
            justify-content: space-around;
            width: 85%;
            height: 2.5rem;
            border-radius: 10rem;
            margin: 0 auto;
            color: #fff;
            background-color: @macAndCheese;
            vertical-align: middle;
            margin-bottom: .5rem;

                @media @desktop {
                    width: 20%;
                }
        }
    } // welcome


    .search {
        font-size: @p;
        padding: 1.5rem; 
        background-color: @darkGreen;
        color: @kindOfWhite;

        textarea {
            width: 85%;
            height: 2.5rem;
            border-radius: 10rem;
            margin: .5rem;

                @media @desktop {
                    width: 20%;
                }
        }

        p:last-child {
            font-size: 1rem;
            margin-left: 40%;
        }
    } //search

    .creatorStudio {
        background-image: url("../images/LG-Creator-Studio-Icon.png");
        background-color: @offWhite;
        background-position: center;
        background-repeat: no-repeat;
        color: @darkBlue;
        padding: 6rem 2rem;
        font-size: @p;

        h1 {
            .h1;
            margin: 1rem 0 1rem 0;
        }
    } //creatorStudio

    .draft {
        background-image: url("../images/LG-Draft-Article-Icon.png");
        background-color: #275E5B;
        background-position: center;
        background-repeat: no-repeat;
        padding: 4rem 2rem;
        color: #fff;
        font-size: @p;

        h1 {
            .h1;
            margin: 2rem 0 1rem 0;
        }

        p {
            .comfortPadding;
        }
    }//draft

    .macroSearch {
        background-color: @offWhite;

        .criteria {
            .flex;
            font-size: @babyFont;
            color: @darkBlue;
            justify-content: space-around;
            padding: 1rem;

            h1 {
                .h4;
                // width: 10rem;
                padding: 1rem;
            }

            .active {
                background-color: @macAndCheese;
                border-radius: 20px;
                // padding: .5rem;
                color: #fff;
            }
        }

        .topics {
            .flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: .5rem;

                @media @desktop {
                    justify-content: center;
                }
            

            .searchBoxes {
                width: calc(50% - 1.2em);
                margin: 1rem 0 1rem 0;

                p {
                    font-size: 13px;
                }
            }
        }//topics
    }//macroSearch
} //container

footer {
    background-color: @darkGreen;
    color: @offWhite;
    padding: .7rem 0 0.2rem 0;
    text-align: center;

    h1 {
        font-size: @p;
    }

    p {
        padding: 0.4rem 0;
        font-size: @babyFont;
    }

    #studioIcon {
        position: absolute;
        right: 88%;

            @media @desktop {
                right: 68%;
            }
    }

    #draftIcon {
        position: absolute;
        left: 88%;

            @media @desktop {
                left: 68%;
            }
        }
}//footer


