//Font Colors
@kindOfWhite: #E6EDF4;
@veryLightBlue: #D4E0ED;


//Font Sizes
@p: 1.44rem;
@babyFont: 1.04rem;



//Background Colors

@white: #FFF;
@offWhite: #F1F9F9;
@lightGreen: #A8DBD8;
@mediumGreen: #61BDB8;
@darkGreen: #36827E;
@macAndCheese: #FDBA77;


